@mixin mobileM{
	@media (min-width: 450px){
		@content;
	}
}

@mixin mobileG{
	@media (min-width: 576px){
		@content;
	}
}

@mixin tablet{
	@media (min-width: 768px){
		@content;
	}
}

@mixin notebook{
	@media (min-width: 992px){
		@content;
	}
}

@mixin desktop{
	@media (min-width: 1200px){
		@content;
	}
}

@mixin desktopHD{
	@media (min-width: 1440px){
		@content;
	}
}

.header{
	@import '../styles/variaveis';
	display: flex;
	justify-content: center;
	align-items: center;

	> div{
		display: flex;
		width: 100vw;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@include desktop(){
			max-width: 83.5vw;
		}

		> .logo{
			width: 6.25rem;
			height: 50%;
			object-fit: contain;

			@include mobileM(){
				width: 7.5rem;
			}

			@include mobileG(){
				width: 8.75rem;
			}

			@include tablet(){
				width: 8.75rem;
			}

			@include notebook(){
				width: 10rem;
			}

			@include desktop(){
				width: 11.25rem;
			}

			@include desktopHD(){
				width: 12rem;
			}
		}

		> .menu{
			display: none;

			@include notebook(){
				display: flex;
				width: 100%;
				justify-content: flex-end;

				> ul{
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					gap: 3.125rem;

					> li{
						cursor: pointer;
						font-size: 1.25rem;
						font-weight: 500;
						color: $cinza-texto;
						font-family: $poppins;
						line-height: 1.25;
						padding-bottom: 0.4375rem;
	
						&:hover{
							color: $cor-primaria;
							border-bottom: 2px solid $cor-primaria;
							padding-bottom: 0.3125rem;
						}
					}
				}
			}
		}

		> .menuAberto{
			position: absolute;
			width: 100vw;
			left: 0;
			top: 2.875rem;
			background-color: $branco;
			height: calc(100vh - 2.875rem);
			display: flex;
			justify-content: center;

			@include notebook(){
				position: initial;
				height: auto;
			}

			> ul{
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1.25rem;
				margin-top: 2rem;

				@include notebook(){
					flex-direction: row;
					justify-content: flex-end;
					margin-top: 0;
					gap: 3.125rem;
				}

				> li{
					cursor: pointer;
					font-size: 1.25rem;
					font-weight: 500;
					color: $cinza-texto;
					font-family: $poppins;
					line-height: 1.25;
					padding-bottom: 0.4375rem;

					&:hover{
						color: $cor-primaria;
						border-bottom: 2px solid $cor-primaria;
						padding-bottom: 0.3125rem;
					}
				}
			}
		}

		.mobileIcon{
			width: 1.25rem;
			height: 1.25rem;
			box-sizing: content-box;
			padding: 10px;
			cursor: pointer;
			border: none;
			background-color: transparent;

			@include notebook(){
				display: none;
			}

			.icon{
				width: 100%;
				height: 100%;
			}
		}
	}
}