@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	/*Fontes*/
	--poppins: 'Poppins', sans-serif;

	/*Cores de Textos*/
	--cinza-texto: #333333;

	/*Cores de Fundo*/
	--branco: #FFFFFF;

	/*Cores de Gerais*/
	--cor-primaria: #006732;
	--cor-secundaria: #15295F;
}

/*Fontes*/
$poppins: var(--poppins);

/*Cores*/
$cinza-texto: var(--cinza-texto);

/*Core de Fundo*/
$branco: var(--branco);

/*Cores Gerais*/
$cor-primaria: var(--cor-primaria);
$cor-secundaria: var(--cor-secundaria);